<h1>Welcome to the Solar Panel Snow Clearing Web Application</h1>
<h2>Please use the tabs on the left to navigate between the different pages.</h2>
<h2>This web application tracks the Vermont solar panel sites in Barre, Brandon, and St. Albans.</h2>

<div class = "card-wrapper">
    <mat-card>
        <mat-card-title>Barre, Vermont</mat-card-title>
        <mat-card-subtitle>Photo of the Barre solar array</mat-card-subtitle>
        <img mat-card-image src="../../../assets/barrePhoto.jpg" alt="Photo of Barre Array">
    </mat-card>
    <mat-card>
        <mat-card-title>Brandon, Vermont</mat-card-title>
        <mat-card-subtitle>Photo of the Brandon solar array</mat-card-subtitle>
        <img mat-card-image src="../../../assets/brandonPhoto.jpeg" alt="Photo of Brandon Array">
    </mat-card>
    <mat-card>
        <mat-card-title>St. Albans, Vermont</mat-card-title>
        <mat-card-subtitle>Photo of the St. Albans solar array</mat-card-subtitle>
        <img mat-card-image src="../../../assets/stAlbansPhoto.jpg" alt="Photo of St. Albans Array">
    </mat-card>
</div>
