<mat-card>
    <mat-card-title>Sources</mat-card-title>
    <mat-card-content>
        <b>Forecasting Data: </b> <a href="https://openweathermap.org/api/one-call-api">OpenWeather's One Call API</a><br>
        <b>Degree Day Method: </b> Section 630.1103 part b: <a href="https://directives.sc.egov.usda.gov/OpenNonWebContent.aspx?content=17753.wba">National Engineering Handbook - Hydrology, Chapter 11 (Snowmelt)</a><br>
        <b>Effects of Snow Depth on Transmittance: </b> Figure 3: <a href="https://www.sciencedirect.com/science/article/abs/pii/S0038092X17309581">The influence of snow and ice coverage... by Andenaes et al.</a><br>
        <b>More on Snow Depth and Transmittance: </b> <a href="https://www.sciencedirect.com/science/article/abs/pii/S0165232X21000434">A sensitivity analysis on effective parameters... by Pawluk et al.</a><br><br>
        <b>The source code: </b> <a href="https://github.com/andyrost/solarsnowclearing">Andrew's GitHub Repo</a><br>
        <b>How this was built: </b> <a href="https://angular.io/">Google's Angular Framework</a><br>
        <b>How this was hosted: </b> <a href="https://aws.amazon.com/s3/">Amazon AWS S3 Bucket</a>
    </mat-card-content>
</mat-card>
