@import '~@angular/material/theming';
@include mat-core();

$md-mcgpalette0: (
    50 : #e4ebf1,
    100 : #bacddc,
    200 : #8dacc4,
    300 : #5f8aac,
    400 : #3c719b,
    500 : #1a5889,
    600 : #175081,
    700 : #134776,
    800 : #0f3d6c,
    900 : #082d59,
    A100 : #8cb9ff,
    A200 : #599bff,
    A400 : #267cff,
    A700 : #0d6cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette1: (
    50 : #ecf1f6,
    100 : #d0dde9,
    200 : #b1c6db,
    300 : #92afcd,
    400 : #7a9ec2,
    500 : #638db7,
    600 : #5b85b0,
    700 : #517aa7,
    800 : #47709f,
    900 : #355d90,
    A100 : #dcebff,
    A200 : #a9cdff,
    A400 : #76b0ff,
    A700 : #5da1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$my-app-primary: mat-palette($md-mcgpalette0);
$my-app-accent:  mat-palette($md-mcgpalette1);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

$primary: mat-color($my-app-primary)