.current-weather {
    width:30vw;
    text-align: center;
}
.future-weather {
    width:11vw;
    text-align: center;
}

.future-weather-list {
    width: 100%
}
.mat-card.h1{
    font-size: 1rem;
}

.top-card {
    text-align: center;
    width: 90%;
    display: inline-block;
}

.page-wrapper {
    text-align:center;
    width: 86vw;
    display: inline-block;
}

.flex-contain {
    display: flex;
    justify-content: space-between;
}