.current-weather {
    width:30vw;
    text-align: center;
    max-width: 25rem;
    margin: 1rem;
}
.current-tomorrow-list {
    display: inline-block;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.future-weather {
    width:15rem;
    text-align: center;
}

.future-weather-list {
    width: 70rem;
    max-width: 90%;
    display: inline-block;
}

.title-card {
    margin: 1rem;
    max-width: 90%;
    display: inline-block;
}
.mat-card.h1{
    font-size: 1rem;
}

.top-card {
    text-align: center;
    max-width: 90%;
    display: inline-block;
}

.page-wrapper {
    text-align:center;
    width: 86vw;
    display: inline-block;
}

.flex-contain {
    display: flex;
    justify-content: space-around;
}

.day-warning {
    padding:1rem;
    border-radius: 10px;
    background-color: rgb(255, 200, 200);
    width: calc(230px - 1rem);
    margin: 0.5rem;
}

.day-watch {
    padding:1rem;
    border-radius: 10px;
    background-color: rgb(255, 247, 200);
    width: calc(230px - 1rem);
    margin: 0.5rem;
}

.day-normal {
    padding:1rem;
    border-radius: 10px;
    width: calc(230px - 1rem);
    margin: 0.5rem;
}