<div class="page-wrapper">
<h1>Showing weather information for {{forecastData?.lat}}, {{forecastData?.lon}} ({{ siteName }})</h1>
<mat-card class="top-card">
    <mat-card-title>Eight Day Expected Revenue</mat-card-title><br>
    <div class="flex-contain">
    <div *ngFor = "let day of snowDepthArray.slice(0,4); let i = index" [ngClass]="getWarningClass(day)">
        <h1>{{forecastData?.daily[i].dt * 1000 | date:'EEEE'}}<br></h1>
        Expected Snowdepth: {{day | number: '1.2-2'}} mm<br>
        Idealized Revenue: {{getDayIdealizedRevenue(forecastData?.daily[i].dt) | number: '1.2-2'}}$<br>
        <b>Expected Revenue: {{getDayExpectedRevenue(forecastData?.daily[i].dt, day) | number: '1.2-2'}}$</b>
    </div>
</div><br>
<div class="flex-contain">
<div *ngFor = "let day of snowDepthArray.slice(4,8); let i = index" [ngClass]="getWarningClass(day)">
    <h1>{{forecastData?.daily[i+4].dt * 1000 | date:'EEEE'}}<br></h1>
    Expected Snowdepth: {{day | number: '1.2-2'}} mm<br>
    Idealized Revenue: {{getDayIdealizedRevenue(forecastData?.daily[i+4].dt) | number: '1.2-2'}}$<br>
    <b>Expected Revenue: {{getDayExpectedRevenue(forecastData?.daily[i+4].dt, day) | number: '1.2-2'}}$</b>
</div>
</div>
</mat-card>
<mat-grid-list cols = "2" rowHeight="20rem">
    <mat-grid-tile>
    <mat-card class="current-weather">
        <mat-card-title>
            Current Weather
        </mat-card-title>
        <fa-icon [icon]="getIconName(0,true)" size="4x"></fa-icon>
        <h1>{{ forecastData?.current?.temp | number: '1.0-0'}}&deg;F</h1>
        <mat-card-content>
            Date: {{ forecastData?.daily[0]?.dt * 1000 | date:'EEEE, MMMM d'}}<br>
            Cloud cover: {{ forecastData?.current?.clouds }}%
        </mat-card-content>
    </mat-card></mat-grid-tile>

    <mat-grid-tile>
    <mat-card class="current-weather">
        <mat-card-title>
            Tomorrow's Weather
        </mat-card-title>
        <fa-icon icon="moon" [icon]="getIconName(1)" size="4x"></fa-icon>
        <h1>Hi: {{ forecastData?.daily[1]?.temp?.max | number: '1.0-0'}}&deg;  
            Lo: {{ forecastData?.daily[1]?.temp?.min | number: '1.0-0'}}&deg;F</h1>
        <mat-card-content>
            Date: {{ forecastData?.daily[1].dt * 1000 | date:'EEEE, MMMM d'}}<br>
            Cloud cover: {{ forecastData?.daily[1]?.clouds }}%
        </mat-card-content>

    </mat-card></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols = 3 rowHeight="15rem" class = "future-weather-list">
    <mat-grid-tile *ngFor="let day of forecastData?.daily.slice(2,8); let i=index">
        <mat-card class="future-weather">
            <mat-card-title>
                {{ day.dt * 1000 | date:'EEEE'}}
            </mat-card-title>
            <fa-icon [icon]="getIconName(i+2)" size="4x"></fa-icon>
        <h2>Hi: {{ forecastData?.daily[i+2]?.temp?.max | number: '1.0-0'}}&deg;F 
            Lo: {{ forecastData?.daily[i+2]?.temp?.min | number: '1.0-0'}}&deg;F</h2>
        <div *ngIf="forecastData?.daily[i+2]?.rain && !forecastData?.daily[i+2]?.snow">
            Total Rain: {{ forecastData?.daily[i+2]?.rain }}mm
        </div>
        <div *ngIf="forecastData?.daily[i+2]?.snow">
            Total Snow: {{ forecastData?.daily[i+2]?.snow }}mm
        </div>
        <div *ngIf="!forecastData?.daily[i+2]?.snow && !forecastData?.daily[i+2]?.rain">
            No expected precipitation
        </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>
