.content-outlet {
  padding-left: 10px; 
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  background-color: rgb(238, 249, 255);
  text-align: center;
}

.mat-drawer{
  max-width: 12vw;
  background-color: rgb(238, 249, 255);
  padding: 5px;
}

.drawer-list{
  margin-top: 4rem; 
}
.active-list-item {
  background-color: #638DB7 !important;
  border-radius: 7px;
}

.mat-drawer-container {
  height:100%;
}
/* Mat toolbar is 5 VH by default, rest of container is 95 */