<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-nav-list>
            <mat-list-item routerLink="/">Home</mat-list-item>
            <mat-list-item routerLink="/barre">Barre</mat-list-item>
            <mat-list-item routerLink="/brandon">Brandon</mat-list-item>
            <mat-list-item routerLink="/st-albans">St. Albans</mat-list-item>
            <mat-list-item routerLink="/history">History</mat-list-item>
            <mat-list-item routerLink="/manual-calculation">Manual Calculation </mat-list-item>
        </mat-nav-list>
        
    </mat-drawer>
    <mat-drawer-content style="padding-left: 10px; ">
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>