.content-outlet {
  padding-left: 10px; 
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  background-color: rgb(235, 247, 255);
  text-align: center;
}

.mat-drawer{
  max-width: 12vw;
  background-color: #729262;
}

.drawer-list{
  margin-top: 5rem; 
}
.active-list-item {
  background-color: #638055 !important;
}

.mat-drawer-container {
  height:100%;
}
/* Mat toolbar is 5 VH by default, rest of container is 95 */