<mat-card>
    <mat-card-title>
        Acknowledgements
    </mat-card-title><br>
    <mat-card-content>
        The <b>Solar Snow Clearing Team</b> is a group of Pennsylvania State University seniors:<br>
        Andrew Rost, Timothy Bruggeman, Michael Ruff, Zachary Moore, <br>
        Michael Kiecko, Connor Schroll, Carolina Navarro, and Sebastian Kristanto<br>
        <br>
        Their EGEE 464W course instructor:<br>
        Hilal E. Toraman<br>
        <br>
        Their AEDG project sponsor:<br>
        Chris VanDixon


    </mat-card-content>
</mat-card>